# Visual Studio
.vs
.sln.ide

# Build results
[Dd]ebug
[Rr]elease
x64
x86
bin
obj

# Visual Studio cache files
.user
.cache
.suo
.tlog

# Rider
.idea
.sln.iml

# User-specific files
.userprefs
.sln.ide
.sln.user

# Logs
.log
.tlog

# Config files
appsettings.Development.json
appsettings.json
appsettings..json

# Ignore NuGet packages
.nupkg
.snupkg
.nuspec
nuget.exe

# Project files
.dbmdl
.dbproj.schemaview

# Other files
.dbmdl
.dbproj.schemaview
.jfm
.jfm.xml

# Temporary files
tmp
temp
